* {
	box-sizing: border-box;
	text-align: center;
}

.wrapper {
	width: 80%;
	padding: 0px;
	background-color: #777;
	margin: 0 auto 0 auto;
}


body {
	font-family: Roboto, sans-serif;
	font-size: 24px;
	color: #777;
	background-color: #777;
}


#header {
	padding: 40px;
	margin-top: 0px;
	margin-bottom: 10px;
	background-color: #ebebeb;
}

#nav {
	padding: 40px;
	background-color: #ebebeb;
	margin-bottom: 20px;
}

.container {
	width: 59.25%;
	height: 300px;
	margin: 0 auto;
	background-color: #ebebeb;
	float: left;
	padding-top: 30px;
}

#article {
	width: 96%;
	height: 70%;
	padding: 20px;
	background-color: #777;
	color: #ebebeb;
	margin: 0px auto;
	position: relative;
	top: 40px;
}

#headline {
	height: 35%;
	width: 97%;
	background-color: #ebebeb;
	color: #777;
	float: left;
	margin-top: 15px;
}

h1 {
	font-size: 22px;
	font-weight: 800;
}

#paragraph {
	height: 35%;
	width: 97%;
	background-color: #ebebeb;
	color: #777;
	overflow: scroll;
	margin-top: 10px;
	float: left;
}

#aside {
	width: 39.25%;
	height: 300px;
	padding: 20px;
	float: right;
	background-color: #ebebeb;
	margin-bottom: 20px;
}

#footer {
	padding: 40px;
	background-color: #ebebeb;
	clear: both;
}